body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #f7f7f7, #d6e3f3);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pricing-container {
    display: flex;
    flex-direction: row;
    width: 1012px;
    position: relative;
  }

.pricing-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    width: 300px;
    background-color: #6a4dff;
    margin-right: -35px;
  }
  .tier1{
    background-color: #6a4dff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
  }

  .tier2{
    background-color: palevioletred;
    height: 470px;
    z-index: 1;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    margin-top: -21px;
  }
  .tier3{
    background-color: purple;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
  }

  .heading-button{
    border-radius: 29px;
    color: #6a4dff;
    width: 150px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid white;
    z-index: 1;
  }
  .heading-mostPopular{
    margin-top: -27px;
    border: 1px solid grey;
    background-color: grey;
    opacity: 0.6;
    border-radius: 13px;
    margin-right: 10px;
    padding: 5px;
  }
  .popular-true{
    margin-left: -117px;
  }

  .pricing-card .pricing-card-list{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pricing-heading{
    color:#fff ;
    font-size: 14px;
  }
  
  .pricing-card .pricing-card-list-items {
    padding: 10px 0;
    color: #fff;
  }

  .choose-button{
    border: 1px solid white;
    border-radius:10px;
    background-color: #fff;
    color: #6a4dff;
    width: 150px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: white;
  }

@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
  
    .pricing-card {
        width: 90%;
        margin: 10px 5px;
        height: 600px;
    }

  }