.image-content-details {
    margin-top: 30px;
    position: relative;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 545px;
    margin-left: 169px;
  }
  .image-details{
    width: fit-content;
    padding: 20px;
  }
  .image-title{
    font-weight: bold;
    font-size: 32px;
  }
  .image-price{
    font-weight: bold;
    color: #f44336;
    font-size: 32px;
  }

  .image {
    width: 35%;
    height: 333px;
    max-width: 600px;
  }
  
  .image-description {
    color: #333;
    font-size: 18px;
    width: fit-content;
    line-height: 1.5;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 147px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }
  